/*General*/
.signup-body {
    background-color: rgb(232, 232, 232);
}

#signup-heading {
    color: rgb(40, 40, 40);
    font-size: 25px;
    padding: 25px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    width: 350px;
    height: auto;
}

/* 01-01 Main container */
.signup-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 18vh;
}

.signup-form {
    width: 350px;
    padding: 50px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    height: 500px;

    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.signup-form form {
    margin-top: 50px;
}

.signup-form p {
    font-size: 14px;
    margin-bottom: 4px;
    color: rgb(40, 40, 40);
}

.signup-form form p {
    font-size: 16px;
    margin-bottom: 6px;
    color: rgb(40, 40, 40);
}

#have-acc {
    color: rgb(40, 40, 40);
    margin-top: 140px;
    text-align: center;
}

#have-acc a {
    color: rgb(255, 87, 87);
    text-decoration: none;
}

#have-acc a:hover{
    color: rgb(183, 64, 64);
}

#terms a {
    color: rgb(255, 87, 87);
    text-decoration: none;
}

#terms a:hover {
    color: rgb(183, 64, 64);
}

/*01-02 Inputs*/
.signup-form input[type=text]{
    padding: 6px;
    border: 2;
    font-size: 14px;
    flex: auto;
    width: 100%;
    margin-bottom: 30px;
    height: 40px;
}

.signup-form input[type=email]{
    padding: 6px;
    border: 2;
    font-size: 14px;
    flex: auto;
    width: 100%;
    margin-bottom: 30px;
    height: 40px;
}

.signup-form input[type=password]{
    padding: 6px;
    border: 2;
    font-size: 14px;
    flex: auto;
    width: 100%;
    height: 40px;
}

.signup-form button{
    padding: 6px 10px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 87, 87);
    color: rgb(227, 227, 227);
    float: right;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 44px;
}

.signup-form button:hover{
    background: rgb(183, 64, 64);
}